
.header{
    display: flex;
    align-items: center;
    background-color: rgb(18, 180, 80);
}
.header a{
    color: rgb(243, 243, 247); ;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 50px;
}

.header .title-group{
    padding-left: 10px;
}

.header .title-group i {
    padding-right: 5px;
}
