<div class="mat-elevation-z4">
  <table mat-table [dataSource]="pagamentos">

    <ng-container matColumnDef="fpgId">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{row.fpgId}}</td>
    </ng-container>

    <ng-container matColumnDef="fpgDescricao">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.fpgDescricao}}</td>
    </ng-container>
    <!--
      <ng-container matColumnDef="fpgTipoConta">
        <th mat-header-cell *matHeaderCellDef>Tipo de conta</th>
        <td mat-cell *matCellDef="let row">{{row.fpgTipoConta}}</td>
      </ng-container>

      <ng-container matColumnDef="fpgTipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let row">{{row.fpgTipo}}</td>
      </ng-container>

      <ng-container matColumnDef="fpgQtdParcela">
        <th mat-header-cell *matHeaderCellDef>Qtd Parcelas</th>
        <td mat-cell *matCellDef="let row">{{row.fpgQtdParcela}}</td>
      </ng-container>

      <ng-container matColumnDef="fpgPorcentagem">
        <th mat-header-cell *matHeaderCellDef>Porcentagem</th>
        <td mat-cell *matCellDef="let row">{{row.fpgPorcentagem}}</td>
      </ng-container>
-->
    <ng-container matColumnDef="fpgFlag">
      <th mat-header-cell *matHeaderCellDef>Flag</th>
      <td mat-cell *matCellDef="let row">{{row.fpgFlag}}</td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/pagamentos/update/{{ row.fpgId }}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>

        <a routerLink="/pagamentos/delete/{{ row.fpgId }}" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>