<mat-card>
    <mat-card-title>Nova Forma de Pagamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="formaPagamento.fpgDescricao" name="fpgDescricao">
        </mat-form-field>
        <!--
        <mat-form-field>
            <input matInput placeholder="Tipo de conta" [(ngModel)]="formaPagamento.fpgTipoConta" name="fpgTipoConta">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo" [(ngModel)]="formaPagamento.fpgTipo" name="fpgTipo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Qtd Parcelas" [(ngModel)]="formaPagamento.fpgQtdParcela" name="fpgQtdParcela">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Porcentagem" [(ngModel)]="formaPagamento.fpgPorcentagem" name="fpgPorcentagem">
        </mat-form-field>
        -->
        <mat-form-field>
            <input matInput placeholder="FLAG" [(ngModel)]="formaPagamento.fpgFlag" name="fpgFlag">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createPagamento()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>