<mat-card>
    <mat-card-title>Novo Usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="usuario.usuNome" name="usunome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Flag" [(ngModel)]="usuario.usuFlag" name="usuflag">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="usuario.usuSenha" name="ususenha">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createUsuario()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>